<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>apple-one.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B0652C051F26EB8A00350575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0652C191F26EB8B00350575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B0652C241F26EB8B00350575</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
